<!DOCTYPE html>
html
    head
        <title>Strona Główna</title>
        <meta charset="utf-8">
        <meta name="description" content="Kreator stron piłkarskich">
        <meta name="author" content="Paweł Gawlik">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <link rel="icon" href="../images/sf.jpg">
        <link rel="stylesheet" href="../stylesheets/view.css">
        <script src="../javascripts/jquery-3.5.1.js"></script>
        <script src="../javascripts/view.js" defer></script>
    body(style={"background-color":e10,"font-size":e7+"vw",color:e8,"font-family":e6})
        div(class="main" style="background-color:"+ e9+";")
            img(src= b alt="logo")
            h1(style="color:"+ e2+";"+"font-size:"+ e1+"vw"+";"+"font-family:"+ e3+";")= a
        p(style="font-size:"+ e4+"vw"+";"+"color:"+ e5+";")= c
        img(src= e11)
        p(class="opis")= d
        p(class="wiad" style="font-size:"+ e4+"vw"+";"+"color:"+ e5+";")= "Wiadomości"
        div(class="news")
        div(class="tabela")
        <hr>
        <p class="autor">Autor: 
            span= f
        </p>
        <p class="odw">Odwiedziny: 
            span= f2
        </p>      